body {
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
}

header {
    padding: 10px 30px;
}

header h1 {
    font-size: 40px;
    font-weight: 800;
}

footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .copyright {
    font-size: 14px;
    color: #333;
    text-align: center;
}
footer .copyright a {
    color: #444;
}
footer .copyright a:hover {
    color: #555;
}
footer .copyright:before {
    content: '©';
}


@media (min-width: 320px) and (max-width: 640px) {
    header {
        padding: 5px 15px;
    }
    
    header h1 {
        font-size: 35px;
        font-weight: 800;
    }
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__rs a {
    color: #fff;
}

.footer__karina a {
    color: #fff;
}
