.table-results {
    width: 400px;
    height: 400px;
    display: flex;
    margin: 0 auto;
    font-weight: 700;
    background-color: rgb(178, 186, 232);
    flex-direction: column;
}
.table_row {
    display: flex;
    width: 300px;
    font-size: 26px;
    margin: 10px auto;
}
.no-results {
    display: flex;
    font-size: 36px;
    height: 100%;
    align-items: center;
}


@media screen and (min-width: 320px) and (max-width: 500px) {
    .table-results {
        width: 300px;
        height: 300px;
    }
}

