* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin: 0;
}

html,
body {
    height: 100%;
    width: 100%;
}

#root {
    min-height: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    overflow-x: hidden;
}

