* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

.wrapper {
  margin: 0 auto;
  width: 1160px;
}

.orange-button {
  font-size: 16px;
  color: #fff;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  width: 103px;
  height: 41px;
  border: 0;
  cursor: pointer;
  width: 298px;
  height: 54px;
  text-transform: uppercase;
  font-weight: 500;
  &:hover {
    background: #e47209;
  }
  &:active {
    background: #4b9200;
  }
}

a {
  text-decoration: none;
}

.header-background {
  height: 80px;
  background-color: #000000;
  display: flex;
  align-items: center;

  .header-container {
    display: flex;
    align-items: center;
    .header__logo {
      padding: 3.55px 4.75px;
      display: flex;
      align-items: center;
      width: 82px;
      height: 52px;
      position: relative;
      font-size: 19px;
      text-align: center;
      border: 1px solid #ffffff;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 2px;
      cursor: pointer;
      margin-right: 63px;
      h1 {
        font-size: 19px;
        color: #ffffff;
        font-weight: 400;
      }
      img {
        position: absolute;
        top: 23px;
        left: 10px;
      }
    }
    .header__navigation {
      width: 100%;
      & > ul > li:first-child {
        width: 470px;
      }
      ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        li > a {
          color: #ffffff;
          font-family: "Roboto";
          font-weight: 500;
          font-size: 16px;
          list-style-type: none;
          &.active {
            background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
          }
          &:hover {
            color: #e47209;
          }
          &:active {
            color: #4b9200;
          }
        }
      }
    }
  }
}

.favorite-animal {
  height: 702px;
  background-image: url(./assets/images/panda.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 106.496px;
  line-height: 75%;
  text-align: center;
  text-transform: uppercase;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .favorite-animal__text {
    position: relative;
    height: 400px;
    width: 500px;
    margin-top: 88px;
    z-index: 1;
    span {
      color: #ffee2e;
    }
    &::after {
      position: absolute;
      width: 465px;
      height: 465px;
      content: "";
      background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
      top: -74px;
      left: -73px;
      border-radius: 50%;
      z-index: -1;
    }
  }
  &__button {
    margin-top: 60px;
    margin-right: 100px;
  }
}

.backstage {
  position: relative;
  padding-top: 140px;
}
.backstage-field {
  display: flex;
  flex-direction: inherit;
  align-items: center;
  &__description {
    margin-left: 87px;
    font-style: normal;
    font-weight: 400;
    color: #333b41;
  }
  &__title {
    font-size: 48px;
    line-height: 120%;
  }
  &__text1 {
    font-size: 16px;
    line-height: 130%;
    margin-top: 20px;
  }
  &__subtitle {
    font-size: 24px;
    line-height: 120%;
    margin-top: 54px;
  }
  &__text2 {
    font-size: 16px;
    line-height: 140%;
    margin-top: 34px;
  }
  &__flower_tree {
    position: absolute;
    right: 0;
    top: 12px;
  }
}

.pets {
  position: relative;
  margin-top: 180px;
  .pets__grass {
    position: absolute;
    &.pets__grass-right {
      bottom: 0;
      right: 0;
    }
    &.pets__grass-left {
      bottom: 0;
      left: 0;
    }
  }
  .pets-container {
    position: relative;
    width: 1158px;

    &__cards {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &__card {
      border-radius: 5px;
      border: 1px solid #fa6f32;
      margin-bottom: 20px;
      &__footer {
        display: flex;
        justify-content: space-between;
        padding-right: 13px;
        padding-left: 16px;
        height: 60px;
        padding-top: 8px;
      }
      .title {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        text-transform: uppercase;
        color: #000000;
      }
      .text {
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        line-height: 120%;
        color: #000000;
      }
    }
    &__arrow {
      position: absolute;
      top: 403px;
      background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
      width: 62px;
      height: 62px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      &:hover {
        background: #e47209;
      }
      &:active {
        background: #4b9200;
      }

      &.pets-container__arrow-right {
        right: -82px;
      }
      &.pets-container__arrow-left {
        left: -82px;
        & > img {
          rotate: 180deg;
        }
      }
    }
    &__button {
      margin: 60px auto 100px;
    }
  }
}

.footer {
  background-color: #000000;
  padding: 40px 0 50px;
  &__field-1 {
    display: flex;
    justify-content: space-between;
    &__logo {
      padding: 3.55px 4.75px;
      display: flex;
      align-items: center;
      width: 82px;
      height: 52px;
      position: relative;
      font-size: 19px;
      text-align: center;
      border: 1px solid #ffffff;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 2px;
      cursor: pointer;
      margin-right: 63px;
      h1 {
        font-size: 19px;
        color: #ffffff;
        font-weight: 400;
      }
      img {
        position: absolute;
        top: 23px;
        left: 10px;
      }
    }

    &__subscribe {
      p {
        font-weight: 400;
        font-size: 24px;
        line-height: 120%;
        color: #ffffff;
      }
      form {
        margin-top: 14px;
        input {
          width: 228px;
          height: 42px;
          border-radius: 5px;
          border-color: #e47209;
          background-color: #000;
          padding-left: 10px;
          font-weight: 400;
          font-size: 16px;
          line-height: 140%;
          color: #bdbdbd;
          &:active {
            border-color: #4b9200;
          }
        }
        & > button {
          width: 129px;
          height: 42px;
          background: #f1f3f2;
          border: 1px solid #333b41;
          border-radius: 5px;
        }
      }
    }
  }

  &__field-2 {
    margin-top: 36px;
    border-radius: 5px;
  }
  
  &__field-3 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 44px;
  
    &__social {
      li {
        &:not(:last-child) {
          margin-bottom: 10px;
        }
        a {
          display: flex;
          align-items: center;
          font-weight: 400;
          font-size: 16px;
          line-height: 140%;
          color: #ffffff;
          &:hover {
            color: #e47209;
          }
          &:active {
            color: #4b9200;
          }
          .circle {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 26px;
            height: 26px;
            background: rgba(196, 196, 196, 0.5);
            border-radius: 50%;
            margin-right: 12px;
          }
        }
      }
    }
  
    &__navigation {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 362px;
      li > a {
        color: #ffffff;
        font-family: "Roboto";
        font-weight: 500;
        font-size: 16px;
        list-style-type: none;
        &:hover {
          color: #e47209;
        }
        &:active {
          color: #4b9200;
        }
        &.active {
          background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
        }
      }
    }
  
    &__info {
      font-weight: 100;
      font-size: 16px;
      line-height: 130%;
      color: #ffffff;
      p:last-child {
        margin-top: 10px;
      }
    }
  }
  


}

