* {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  box-sizing: border-box;
}

.wrapper {
  margin: 0 auto;
  width: 1160px;
}

.orange-button {
  font-size: 16px;
  color: #fff;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  width: 103px;
  height: 41px;
  border: 0;
  cursor: pointer;
  width: 298px;
  height: 54px;
  text-transform: uppercase;
  font-weight: 500;
}
.orange-button:hover {
  background: #e47209;
}
.orange-button:active {
  background: #4b9200;
}

a {
  text-decoration: none;
}

.header-background {
  height: 80px;
  background-color: #000000;
  display: flex;
  align-items: center;
}
.header-background .header-container {
  display: flex;
  align-items: center;
}
.header-background .header-container .header__logo {
  padding: 3.55px 4.75px;
  display: flex;
  align-items: center;
  width: 82px;
  height: 52px;
  position: relative;
  font-size: 19px;
  text-align: center;
  border: 1px solid #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  cursor: pointer;
  margin-right: 63px;
}
.header-background .header-container .header__logo h1 {
  font-size: 19px;
  color: #ffffff;
  font-weight: 400;
}
.header-background .header-container .header__logo img {
  position: absolute;
  top: 23px;
  left: 10px;
}
.header-background .header-container .header__navigation {
  width: 100%;
}
.header-background .header-container .header__navigation > ul > li:first-child {
  width: 470px;
}
.header-background .header-container .header__navigation ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-background .header-container .header__navigation ul li > a {
  color: #ffffff;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  list-style-type: none;
}
.header-background .header-container .header__navigation ul li > a.active {
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.header-background .header-container .header__navigation ul li > a:hover {
  color: red;
}

.favorite-animal {
  height: 702px;
  background-image: url(./assets/images/panda.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 106.496px;
  line-height: 75%;
  text-align: center;
  text-transform: uppercase;
}
.favorite-animal__container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.favorite-animal .favorite-animal__text {
  position: relative;
  height: 400px;
  width: 500px;
  margin-top: 88px;
  z-index: 1;
}
.favorite-animal .favorite-animal__text span {
  color: #ffee2e;
}
.favorite-animal .favorite-animal__text::after {
  position: absolute;
  width: 465px;
  height: 465px;
  content: "";
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  top: -74px;
  left: -73px;
  border-radius: 50%;
  z-index: -1;
}
.favorite-animal__button {
  margin-top: 60px;
  margin-right: 100px;
}

.backstage {
  position: relative;
  padding-top: 140px;
}

.backstage-field {
  display: flex;
  flex-direction: inherit;
  align-items: center;
}
.backstage-field__description {
  margin-left: 87px;
  font-style: normal;
  font-weight: 400;
  color: #333b41;
}
.backstage-field__title {
  font-size: 48px;
  line-height: 120%;
}
.backstage-field__text1 {
  font-size: 16px;
  line-height: 130%;
  margin-top: 20px;
}
.backstage-field__subtitle {
  font-size: 24px;
  line-height: 120%;
  margin-top: 54px;
}
.backstage-field__text2 {
  font-size: 16px;
  line-height: 140%;
  margin-top: 34px;
}
.backstage-field__flower_tree {
  position: absolute;
  right: 0;
  top: 12px;
}

.pets {
  position: relative;
  margin-top: 180px;
}
.pets .pets__grass {
  position: absolute;
}
.pets .pets__grass.pets__grass-right {
  bottom: 0;
  right: 0;
}
.pets .pets__grass.pets__grass-left {
  bottom: 0;
  left: 0;
}
.pets .pets-container {
  position: relative;
  width: 1158px;
}
.pets .pets-container__cards {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.pets .pets-container__card {
  border-radius: 5px;
  border: 1px solid #fa6f32;
  margin-bottom: 20px;
}
.pets .pets-container__card__footer {
  display: flex;
  justify-content: space-between;
  padding-right: 13px;
  padding-left: 16px;
  height: 60px;
  padding-top: 8px;
}
.pets .pets-container__card .title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
  color: #000000;
}
.pets .pets-container__card .text {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #000000;
}
.pets .pets-container__arrow {
  position: absolute;
  top: 403px;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  width: 62px;
  height: 62px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.pets .pets-container__arrow:hover {
  background: #e47209;
}
.pets .pets-container__arrow:active {
  background: #4b9200;
}
.pets .pets-container__arrow.pets-container__arrow-right {
  right: -82px;
}
.pets .pets-container__arrow.pets-container__arrow-left {
  left: -82px;
}
.pets .pets-container__arrow.pets-container__arrow-left > img {
  rotate: 180deg;
}
.pets .pets-container__button {
  margin: 60px auto 100px;
}/*# sourceMappingURL=style.css.map */