* {
    margin: 0 auto;
    padding: 0;
    font-size: 16px;
}
body{
    margin: 0 auto;
}


// .card-field {
//     width: 400px;
//     height: 400px;
//     border: #000 1px solid;
// }

// .card {
//     width: 100px;
//     height: 100px;
//     background-color: red;
//     &__number {
//         text-align: center;
//         content: 1;
//     }
// }